<div class="projects__slide">
    <div class="project d-flex flex-column h-100" id="project-@@id">
        <a href="" class="project__slider rounded-sm">
            @@if (index == "01") {
            <span class="project__slide">
                <img src="@img/projects/01.png" alt="Фото проекта">
            </span>
            <span class="project__slide">
                <img src="@img/projects/02.png" alt="Фото проекта">
            </span>
            <span class="project__slide">
                <img src="@img/projects/03.png" alt="Фото проекта">
            </span>
            }
            @@if (index == "02") {
            <span class="project__slide">
                <img src="@img/projects/02.png" alt="Фото проекта">
            </span>
            <span class="project__slide">
                <img src="@img/projects/03.png" alt="Фото проекта">
            </span>
            <span class="project__slide">
                <img src="@img/projects/01.png" alt="Фото проекта">
            </span>
            }
            @@if (index == "03") {
            <span class="project__slide">
                <img src="@img/projects/03.png" alt="Фото проекта">
            </span>
            <span class="project__slide">
                <img src="@img/projects/01.png" alt="Фото проекта">
            </span>
            <span class="project__slide">
                <img src="@img/projects/02.png" alt="Фото проекта">
            </span>

            }
        </a>
        <div class="project__desc d-flex flex-column align-items-start flex-grow-1 rounded-sm">
            <a href="" class="project__caption text-uppercase font-weight-bold title-sm icon-arrow-right d-inline-flex align-items-center">@@name</a>
            <ul class="project__info d-flex flex-wrap font-weight-medium">
                <li>Площадь: @@square м2</li>
                <li>Комнат: @@rooms</li>
                <li>Цена: @@price р</li>
            </ul>
        </div>
    </div>
</div>